*{
	padding:0;
	margin:0;
	
}
:root{
	--clr:#222327;
	
}
body{
	background: var(--clr);
	display:flex;
	align-items:center;
	height: 100vh;
	width:100vw;
}
.navigation{
	
	
	display:flex;
	width:100vw;
	justify-content:center;
}

.navigation ul{
	background:white;
	display:flex;
	width:70vw;
	height:100px;
	justify-content:center;
	align-items:center;
	list-style:none;	
	border-radius: 10px;
}

.navigation ul li{
	margin : 0 10px;
	height: 100%;
	width:50px;
	
	z-index:1;
	
	
}
.navigation ul li a{
	position:relative;
	text-decoration: none;
	height: 100%;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	
}
.navigation ul li a .icon{
	position:relative;
	color:black;
	transition:0.5s;
	color:var (--clr);
	line-height: 75px;
	font-size:1.5em;
}

.navigation ul li a .text{
	position:absolute;
	color:var(--clr);
	font-weight: 400;
	font-size:0.75em;
	letter-spacing:0.05em;
	transition: 0.5s;
	opacity: 0;
	transform: translateY(20px);
	
}

.navigation ul li:hover a .icon{
	transform: translatey(-35px);
	
}
.navigation ul li:hover a .text{
	opacity:1;
	transform: translateY(10px);
	
}